.img-title {
  font-size: 120px;
  text-shadow: 0 0 20px #ffc400;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.img-holder {
  position: relative;
  text-align: center;
  color: white;
}

.instructions {
  background-color: #e5e5e5;
}

.q {
  font-weight: bold;
}

.button-div {
  margin-bottom: 50px;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: #ffc400 !important;
  background-color: rgb(66, 66, 66);
}

.dropdown-content li > a:hover,
.dropdown-content li > span:hover {
  background-color: rgb(160, 160, 160);
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #ffc400 !important;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ffc400;
  -webkit-box-shadow: 0 1px 0 0 #ffc400;
  box-shadow: 0 1px 0 0 #ffc400;
}
